* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Tektur', cursive;


}
body{
    background-color: #24176b;
}
.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/bem\ vindo.png);
    background-color:#24176b;
    background-position: right bottom;
    background-repeat: no-repeat;
    

    
}
.fachada {
    color:#ffffff;
    position: absolute;
    top: 39%;
    left: 7%;


}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;

}
.portifolio {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
}
.portifolio span{
    color:#fa5760;
}
.meu-nome {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;

}
.meu-nome span{
    color:#fa5760;
    font-size: 20px;
}

h1 {
    font-size: 45px;
}
li {
    color: rgb(255, 255, 255);
    list-style: none;
    display:inline-block ;
    font-size: 19px;
    margin-right: 30px;
    cursor: pointer;
    
}
li:hover {
    color:#ff614d;
    transition: 0.8s;
}
li a{
    color: inherit;
    text-decoration: none;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color:#24176b;
    

}
#inverter {
  transform: scaleX(-1);

}
section img {

    height: 300px;
    border-radius: 100px;
    border:2px solid #ffffff;
    margin-right: 70px;
    margin-left: -96px;
    margin-top: 50px;
    padding-left: 20px;
    background-color:rgb(29, 24, 22)

    

}
section div h2 {
    color:#836cef;
    font-size: 50px;
    margin-left:20%;
    margin-bottom: 100px;
    

}
section div p {
    color:#c5c8c8;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 8mm;
}
span{
    color:#fa5760
}
section button{
    color:#fa5760;
    background:#ffffff;
    height: 40px;
    width: 850px;
    font-size: 19px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 130px;
}
section button:hover {
    color: whitesmoke;
    background:#fa5760;
    transition: 0.5s;
    
}

section div p{
    color: azure;
    font-family: sans-serif;
    
}



.pag3 {
    height: 100vh;
    width: 100%;
    background-color: #24176b;
}
.pag3 h2{
    color: #836cef;
    font-size: 50px;
   text-align: center;
}
.card p{
    font-size: 10px;
    color: #c5c8c8;
    
}
.card button{
    font-size: 10px;
    background-color:whitesmoke;
    color: #fa5760;
    padding: 5px 20px;
    border-radius: 25px;
    margin-top: 22px;
    border: none;
    
}
.card button:hover{
    color: whitesmoke;
    background:#fa5760;
    transition: 0.2s;
    cursor: pointer;
}
.card{
    
    background-color:#1b1151;
    height: 265px;
    width: 200px;
    border-radius: 10%;
    margin-left: 20px;
    margin-top: 145px;
    padding: 20px 30px;
    text-align: center;
    border: solid 1px #ffffff;

}
.card img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    
}
.card h5{
    color:#ffffff;
    font-size: 20px;
    padding-bottom: 5px;
}
.projetosfeitos {
display: flex;
justify-content: space-evenly;
}
.card:hover {
    transition: 0.2s;
    transform: scale(1.3);
    box-shadow: 2px 0.2px 26px 1px  rgba(170, 209, 247, 0.5);
    

}
footer{
    background-color: #24176b;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    
}
footer h5{
    color:#c5c8c8;
    font-size: 10px;
    margin-top: 100px;
    

}
footer p{
    color:#ffffff;
    margin-bottom: 30px;
    margin-top: 5px;
    
}
.social img{
    height: 20px;
    margin-top: 5px;
    border-radius: 50px;   
}
.social img:hover{
    transition: 0.6s;
    transform: scale(1.4);
    
}
.teste{

    height: 80vh;
    width: 100%;
    background-color: greenyellow;

}
.teste2 {
    background-color: aqua;
    height: 100%;
    width: 100%;
    
}